.all-games-bar {
  max-width: 26.5rem;

  &__search-container {
    background-color: #2E3740;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      font-family: "Roboto", serif;
      font-size: 1.3rem;
      font-weight: 300;
      color: #ffffff;
      border: none;
      background-color: transparent;

      &::placeholder {
        color: #ffffff;
      }
    }

    i {
      color: #fd402f;
    }
  }

  &__top {
    padding: 2rem 0 1.5rem;
    color: #ffffff;
    background-color: #2e3740;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    padding: 0 1.5rem 2rem ;
    border-bottom: 0.1rem solid #fd402f;
  }

  &__list-item {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 1.5rem;

    span {
      color: #ffffff;
      opacity: 0.32;
    }

    &:hover {
      background-color: #262930;
    }
  }
}
